@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Dancing+Script:wght@700&family=Pixelify+Sans&family=Roboto+Condensed&family=Roboto+Slab&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background: #05101c;
  color: white;
  /* font-family: 'Cabin', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Pixelify Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */
  font-family: "Roboto Slab", serif;
}
